---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      
      {% if post.thumb %}
        <div class="thumb-image">
          <img src="{{ post.thumb }}" alt="Thumbnail For Post" />
          <!-- {% include img.html src=post.thumb alt="Thumbnail For Post" %} -->
        </div>
      {% endif %}
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="dateSubtitle">
        <!-- <p>{{ post.date | date: "%B %e, %Y" }}</p> -->
        <p>{{ post.date | date: "%m/%d/%Y" }}</p>
      </div>

      <div class="entry">
        <p>{{ post.excerpt }}</p>
      </div>
      
      <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More...</a></p>
    </article>
  {% endfor %}
</div>
